<!-- city.vtl -->
<h1>$city.getName()</h1>


<ul>
  #foreach($jobOpening in $city.getJobOpenings())
    <li><a href="/cities/$city.getId()/jobOpenings/$jobOpening.getId()"> $jobOpening.getTitle()</a></li>
  #end
</ul>
<p><a href="/cities/$city.getId()/jobOpenings/new">Add Job</a></p>
<!-- city.vtl-->
