<!-- index.vtl -->

<h1>Welcome! Find a job in your city!</h1>
<p>Select a city below to find or post a job opening.</p>
<ul>
  #foreach ($city in $cities)
    <li><a href="/cities/$cities.getId()">$city.getName()</a></li>
  #end
</ul>

<!-- index.vtl -->
